@tailwind base;
@tailwind components;
@tailwind utilities;

/* .portfolio {
    background: url('./asset/blobs/blob1.svg') 150px 150px no-repeat,
    url('./asset/blobs/blob2.svg') left top no-repeat,
    url('./asset/blobs/blob3.svg') center no-repeat,
    url('./asset/blobs/blob4.svg') left bottom no-repeat,
    url('./asset/blobs/blob5.svg') right top no-repeat;
    background-size: 
    200px 200px,
    200px 200px,
    200px 200px,
    200px 200px,
    200px 200px;
} */
body{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}
